$white: #fff;
$black: #000;
$nude: #F4F1DE;
$orange: #E07A5F;
$blue: #3D405B;
$green: #81B29A;
$yellow: #F2CC8F;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $nude;
}

#root {
  height: fit-content;
}

.search {
  width: 100%;
  margin-bottom: 20px;

  &__input {
    width: 100%;
    padding: 10px 12px;
    margin-right: 10px;
    border: 1px solid #F2CC8F;
    border-radius: 5px;
    outline: none;
    font-size: 1.5rem;
  }
}

.form {

  &__input {
    padding: 10px 12px;
    margin-right: 10px;
    border: 1px solid $yellow;
    border-radius: 5px;
    outline: none;
    font-size: 1.5rem;
  }

  &__btn {
    padding: 10px 12px;
    cursor: pointer;
    font-size: 1.4rem;
    color: $white;
    background-color: $orange;
    border: none;
    border-radius: 5px;
  }
}

.list {
  width: 100%;

  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    padding: 20px 0;
    margin-top: 20px;

    .main__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      .item__icon {
        margin-right: 10px;
        margin-bottom: -6px;
      }

      .item__title {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  &__sub {

    .sub__item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $green;
      padding: 20px 0;

      .item__contact {
        width: 33%;
        text-align: center;
        font-size: 1.6rem;
        color: $blue;
      }
    }
  }
}